body{
    background:  black;
    font-family: Arial, sans-serif;
    margin:0;
    padding: 40px;
}

.pagina{
    background-color: #333;
    padding:50px;
    border-radius:25px;
    width:75%;
    margin:aut0;
}

/*titolo*/
.titolo{
    color:white;
    font-size:22px;
    text-align:center;
    margin-bottom:50px;
}

.contenitore-tabella{
    display:flex;
    justify-content: center;
}

table{
    background-color: white;
    border-collapse: collapse;
}

caption{
    color:white;
    font-weight: bold;
    font-size: 30;
    padding:20px;
}

thead th{
    background-color: #333;
    color:white;
    padding:14px;
    font-size:18px;
}

td{
    border: 1px solid grey;
    padding:12px 16px;
    text-align:center;
    font-size:16px;
}

.orario{
    background-color: grey;
    color:black;
    font-weight: bold;
    padding: 12px;
    border: 1px solid grey;
}

a{
    text-decoration: nome;
    color:#2544bf;
    font-weight: bold;
}

a:hover{
    color:red;
}

tbody td:thover{
    background-color: aquamarine;
}
